* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1,
h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #172b4d;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

p {
  font-size: 20px;
  line-height: 28px;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.menu-links {
  width: 100%;
  display: none;
}

.menu-links ul {
  flex-direction: column;
  width: 100%;
}

.menu-links li {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0.5rem 1rem;
}

.menu-links a {
  text-decoration: none;
}

.menu-links.active {
  position: absolute;
  left: 0;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  background-color: white;
  min-height: 85vh;
  width: 100%;
  z-index: 10;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
} 

.menu-links.active a{
  text-decoration: none;
  color: #3a4a42;
} 

.menu-links.active li{
  text-align: left;
  margin: 2rem 1rem;
} 

.dim-background.active {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  background-color: #e5e5e5;
}

.branding {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
  text-decoration: none;
}

#menuicon {
  max-width: 20px;
  object-fit: contain;
}

nav {
  height: 48px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.headline {
  max-height: 725px;
  background: url("./icons/header-mobile-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 64px 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 58px;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.headlinecontent .container {
  margin: 28px auto;
}

.container ul {
  padding: 0;
  display: flex;
  list-style: none;
}

#welcometext {
  display: block;
}

#highlight {
  color: #36b37e;
}

.socialmediaicons {
  max-width: 35px;
  max-height: 35px;
  margin: 0 8px;
}

.works,
.aboutcardscontainer {
  max-width: 1029px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  justify-items: center;
  margin: auto;
  column-gap: 24px;
}

.tag {
  font-size: 12px;
  font-weight: 600;
  color: #3a4a42;
  list-style: none;
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 5px;
}

.works .tag {
  padding: 8px;
}

.workscard {
  height: 474px;
  margin: 25px;
  justify-content: flex-end;
}

.card {
  max-height: 50%;
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

.workscard,
.aboutcard {
  width: 327px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.aboutcard {
  height: 352px;
  justify-content: center;
  margin: 12px 0;
}

.aboutcard > * {
  margin: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.aboutcard .tags {
  justify-content: center;
}

.aboutcard .tag {
  background-color: white;
  margin: 5px;
  padding: 12px;
}

.cardinfo {
  margin: 16px 5px;
}

.aboutcard .cardinfo {
  margin: 16px 5px 0;
  min-height: 97px;
}

.aboutme {
  margin: auto;
  justify-content: space-evenly;
}

.button {
  color: white;
  font-size: 17px;
  font-weight: 500;
  height: 48px;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background-color: #36b37f;
  margin-top: 24px;
  transition: 0.5s;
}

.button:hover {
  box-shadow: 0 5px 10px rgba(54, 179, 127, 0.8);
  transform: scale(1.1, 1.1);
}

.button:active {
  background-color: #008552;
  box-shadow: none;
}

.about {
  background: url(./Images/about-me.png) no-repeat center center / cover;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  margin: 34px auto;
}

.about div {
  margin-top: 24px;
  margin-bottom: 0;
}

.about p {
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
}

.aboutcardscontainer h3 {
  color: #344563;
  font-weight: 600;
  font-size: 2.3em;
}

.aboutcardscontainer .tag {
  color: #36b37e;
}

.aboutcardscontainer img {
  margin-bottom: 18px;
}

hr.roundeddivider {
  border-top: 4px solid #36b37e;
  border-radius: 5px;
  width: 50px;
  margin: 24px auto;
}

.contact {
  padding: 64px 24px 26px;
  background-image: url(./Images/contactformbg.svg);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

.contact .container {
  width: 90%;
  align-content: center;
  flex-wrap: wrap;
}

form {
  width: 100%;
  margin: auto;
}

input,
#comments {
  width: 85%;
  padding: 15px 16px;
  border: 1px solid #d0d9d4;
  margin: 12px auto;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 1px solid #60c095;
}

.contact .button {
  width: 129px;
}

#contactemail {
  font-size: 20px;
  font-weight: 400;
  color: #42526e;
  margin: 17px auto;
}

@media (min-width: 768px) {
  body {
    background-image: url(./Images/desktopheaderbg.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .toggle-button {
    display: none;
  }

  .menu-links {
    display: flex;
  }

  .menu-links ul {
    flex-direction: row;
    justify-content: center;
  }

  .menutabs {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
  }

  .menutabs li {
    list-style: none;
    padding: 1rem 1.2rem;
    margin: 16px 20px;
  }

  .menutabs li::after {
    content: "";
    position: absolute;
    background-color: #008552;
    height: 3px;
    width: 0%;
    left: 3rem;
    bottom: 20px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .menutabs li:hover::after {
    width: 50%;
  }

  .menutabs a {
    color: #344563;
    text-decoration: none;
    position: relative;
  }

  p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
  }

  .headline {
    background: none;
    margin: 0 auto 5rem;
  }

  .headline .container {
    margin: 24px;
  }

  .headlinecontent {
    max-width: 60%;
    margin: auto;
  }

  .workscontainer {
    margin: 100px auto;
  }

  .works .tag {
    transition: 0.5s;
  }

  .works .tag:hover {
    color: #182a4d;
    transform: scale(1.15, 1.15);
    background-color: #c5e9da;
    cursor: pointer;
  }

  hr.roundeddivider,
  #contactemail,
  .branding,
  #menuicon {
    display: none;
  }

  .aboutme {
    background-image: url(./Images/desktopaboutbg.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
  }

  .about {
    max-width: 920px;
    background-image: none;
    margin: 60px auto 40px;
  }

  .contactsection {
    background: url(./Images/contactdesktopbg.svg) no-repeat 0 center / cover;
    margin: 100px auto 0;
  }

  .contactsection input,
  textarea,
  #formbutton {
    float: left;
  }

  .contactsection input,
  #comments {
    width: 100%;
  }

  .contact {
    background: none;
    max-width: 1029px;
    padding: 64px 24px;
    margin: auto;
    grid-template-columns: 1.2fr 1.8fr;
    column-gap: 15px;
  }

  #contactformtext {
    font-size: 2.5rem;
    text-align: justify;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 71px;
    border-top: 1px solid #dfe1e6;
  }
}

@media (min-width: 1000px) {
  .headline {
    background: none;
    margin: 0 auto 30rem;
  }
}

@media (min-width: 1300px) {
  .headline {
    background: none;
    margin: 0 auto 40rem;
  }
}
